@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");

.ara_main {
  margin-left: 18rem;
  margin-right: 3rem;
}

.ara_action {
  margin-top: 1rem;
}
